@use "setting" as s;
/*除算用にmathモジュールをインポート*/
@use "sass:math";

/* ここから記述します。 */
/*-------------------------------------------
スライドレイアウト
-------------------------------------------*/
.slide{
    position: relative;
    width: 100vw;
    height: 720px;
}

.slide::before {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -46%;
    left: 0;
    background: transparent url(../image/bubble.png) no-repeat center / cover;
    width: 352px;
    height: 559px;

    @include s.mq("sp") {
width: 198px;
height: 320px;
bottom: -217px;
background: transparent url(../image/bubble-sp.png) no-repeat center / cover;
}
}

.slide__list {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;

    @include s.mq("sp") {
   height: 100vh;
   top: 72px;
    }
}

.slide__item {
position: absolute;
top: 0;
left: 0;
opacity: 0;
width: 100%;
height: 100%;
animation: slider 15s infinite;

@include s.mq("sp") {
height: 100vh;
}
}

.slide__item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: right top;
}

.slide__item:nth-child(1) {
    animation-delay: 0s;
}
.slide__item:nth-child(2) {
    animation-delay: 5s;
}
.slide__item:nth-child(3) {
    animation-delay: 10s;
}

@keyframes slider {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.slide__titleWrap {
  display: block;
  position: absolute;
  top: 348px;
  left: 7.8%;
    
    @include s.mq("sp") {   
    top: inherit;
    bottom: 86px;
    left: 21px;
}
}

.slide__titleWrap p {
display: inline-block;
font-size: 40px;
font-weight: 700;
line-height: 1.6;
color: s.$colorBlue;
letter-spacing: 0.08cm;

    @include s.mq("sp") {   
    font-size: 32px;
    letter-spacing: 0.14em;
    line-height: 1.65;
    }
}

.slide__titleWrap p:first-of-type::after {
    content: "";
    position: absolute;
    right: -35px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 26px;
    height: 27px;
    background: transparent url(../image/title-image.png) no-repeat center / cover;
}


/*-------------------------------------------
「信頼の技術とサポート」レイアウト
-------------------------------------------*/
.support__inner {
    position: relative;
    margin: 110px auto 220px;
    display: flex;
    justify-content: space-between;
    width: 84%;
    max-width: 1080px;
    height: 670px;

     @include s.mq("sp") {   
margin: 54px auto 116px;
flex-direction: column;
width: 92%;
height: auto;
    }
}

.support__imageWrap {
    width: 46%;
    position: relative;
    z-index: 2;

    @include s.mq("sp") {   
width: 100%;
    }
}

.support__image {
    max-width: 500px;
    margin: 0 auto;

    @include s.mq("sp") {   
        width: 100%;
        aspect-ratio: 1.5;
}
}

.support__image img {
    border-radius: 10px;

    @include s.mq("sp") {   
    width: 100%;
    border-radius: 6px;
    }
}

.js-fadeIn.is-scrollIn {
    opacity: 1;
    transform: translate(0);
}

.js-fadeIn {
    position: relative;
    opacity: 0;
    transform: translateY(150px);
    transition: opacity 2s, transform 0.5s ease-in-out;
}

.support__imageContainer {
    position: relative;
    display: flex;

    @include s.mq("sp") {   
    height: 301px;
    }
}

.support__imageLeft {
    width: 225px;
    height: auto;
    position: absolute;
    top: 97px;
left: -74px;

    @include s.mq("sp") {   
    width: 180px;
    top: 44px;
    left: 0;
    }
}

.support__imageRight {
    width: 330px;
    height: auto;
    position: absolute;
    top: 51px;
    right: 0;

    @include s.mq("sp") {   
    width: 200px;
    top: 13px;
    right: 0;
    }
}

.support__content {
    width: 43%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include s.mq("sp") {   
    width: 100%;
    margin-top: -10px;
    }

}

.support__contentWrap {
    width: 98%;

    @include s.mq("sp") {   
    margin-left: 8px;
    }
}

.support__title {
    font-size: 36px;
    font-weight: 700;
    color: s.$colorBlue;
    letter-spacing: 0.08em;

    @include s.mq("sp") {   
    font-size: 30px;
    }
}

.support__text {
    margin-top: 25px;
    letter-spacing: 0.08em;

    @include s.mq("sp") {   
    font-size: 15px;
    margin-top: 12px;
    margin-bottom: 23px;
    line-height: 1.6;
    letter-spacing: 0.075em;
    }
}


/*-------------------------------------------
「SERVICE」レイアウト
-------------------------------------------*/

.service__layout {
    background: #f6f8fa;
    position: relative;
    padding-top: 64px;

    @include s.mq("sp") {   
    padding: 80px 0 61px;
    }
}

.service__layout::before,
.service__layout::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 110px;
    left: 0;

    @include s.mq("sp") {   
    height: 36px;
    }
}
.service__layout::before {
    top: -110px;
    background: transparent url(../image/service-bg01.png) no-repeat top center / cover;

    @include s.mq("sp") {   
    top: -36px;
    }
}

.service__layout::after {
    bottom: -110px;
    left: 0;
    background: transparent url(../image/service-bg02.png) no-repeat bottom center / cover;

    @include s.mq("sp") {   
    bottom: -36px;
    }
}




.service__inner {
    width: 84%;
    max-width: 1080px;
    margin: 0 auto;

    @include s.mq("sp") {   
    width: 90%;
    }
}

.u-sectionTitle {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.08em;
    position: relative;
    color: s.$colorBlue;

    @include s.mq("sp") {   
    font-size: 32px;
    }
}

.u-sectionTitle--sub {
    letter-spacing: 0.1em;
    color: s.$colorYellow;
    margin-top: 6px;

    @include s.mq("sp") {   
    font-size: 13px;
    margin-top: 0;
    letter-spacing: 0.067em;
    }
}

.u-sectionTitle::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 27px;
    background: transparent url(../image/title-image.png) no-repeat center / cover;
    left: -36px;
    top: 8px;

    @include s.mq("sp") {   
    width: 19px;
    height: 19px;
    left: 0;
    top: -21px;
    }
}

.service__grid {
    margin: 49px auto 0;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 354px));
    column-gap: 75px;

    @include s.mq("sp") {   
    margin: 13px 0 0 0;
grid-template-columns: 1fr;    
}
}

.service__gridCard {
    height: 614px;
    position: relative;

    @include s.mq("sp") {   
    height: auto;
    margin-bottom: 47px;
    }
}

.service__gridCard:nth-of-type(2) {
    margin-top: 48px;

    @include s.mq("sp") {   
    margin-top: 0;
    }
}

.service__gridCard:last-of-type {


    @include s.mq("sp") {   
    margin-bottom: 0;
    }
}

.service__gridImage {
    max-width: 354px;

    @include s.mq("sp") {   
    margin: 0 auto;
    }
}

.service__gridImage img {
    box-shadow: 4px 4px 10px rgba(39, 43, 48, 0.18);
    border-radius: 11px;
}

.service__gridTitle {
    font-size: 24px;
    letter-spacing: 0.08em;
    font-weight: 700;
    line-height: 36px;
    color: s.$colorBlue;
    text-align: center;
    margin-top: 21px;

    @include s.mq("sp") {   
    margin-top: 21px;
    }
}

.service__gridText {
    margin: 8px 2px 20px 7px;
    
    @include s.mq("sp") {   
    width: 91%;
    margin: 9px auto 20px;
    }
}

.service__gridBtn {
    width: 258px;
        position:absolute;
        bottom: 44px;
        left: 50%;
        transform: translateX(-50%);
    
    @include s.mq("sp") {   
    width: 274px;
    position: inherit;
    left: inherit;
    transform: translateX(0);
    bottom: 0;
    margin: 20px auto 0;
    }
}

.u-btn {
    padding: 18px 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 36px;
    background-color:#5f82b3;
    color: #fff;
    
    @include s.mq("sp") {   
    padding: 20px 60px;
    }
}

.u-btn img {
    width: 38px;
    height: 4px;
    transition: all 0.3s;

    @include s.mq("sp") {   

        width: 43px;
        height: 5px;
}
}

.u-btn:hover img {
    transform: translateX(20px);
}

/*-------------------------------------------
「ABOUT」レイアウト
-------------------------------------------*/
.about__layout {
    position: relative;
    margin: 110px auto 120px;
    padding-top: 109px;

    @include s.mq("sp") {   
    margin: 36px auto 80px;
    padding-top: 80px;
    }
}

.about__layout::before {
    content: "";
    position: absolute;
    background: transparent url(../image/about-img.png) no-repeat center / cover;
    width: 237px;
    height: 185px;
    left: 4.14%;
    top: -105px;

    @include s.mq("sp") {   
    width: 135px;
    height: 105px;
    left: 12px;
    top: -64px;
    }
}

.about__layout::after {
    content: "";
    position: absolute;
    background: transparent url(../image/about-bubble.png) no-repeat center / cover;
    width: 252px;
    height: 475px;
    right: 0;
    top: -219px;

    @include s.mq("sp") {   
    width: 110px;
    height: 185px;
    top: -75px;
    background: transparent url(../image/about-bubble-sp.png) no-repeat center / cover;
    }
}

.about__inner {
    width: 84%;
    max-width: 1080px;
    margin: 0 auto;

    @include s.mq("sp") {   
    width: 92%;
    }
}

.about__titleWrap {
    margin-left: 600px;
    margin-bottom: 17px;

    @include s.mq("sp") {   
    margin-left: 6px;
    margin-bottom: 24px;
    }
}

.about__titleLayout {
    width: 38%;
}

.about__wrap {
    display: flex;
    
    @include s.mq("sp") {   
    flex-direction: column;
    }
}
.about__img {
    width: 59%;
    height: 433px;
    position: relative;
    z-index: -1;
    top: 11px;

    @include s.mq("sp") {   
    width: 100%;
    height: 254px;
    top: 0;
    }
}


.about__img img {
    aspect-ratio: 1.5;
    border-radius: 10px;

    @include s.mq("sp") {   
    border-radius: 6px;
    aspect-ratio: 1.5;
    }
}

.about__content {
    width: 38%;
    height: auto;
    margin-left: -40px;
    margin-top: 14px;

    @include s.mq("sp") {   
    width: 98%;
    margin-left: 8px;
    margin-top: 21px;
    }
}

.about__contentTitle {
    font-size: 24px;
    font-weight: 700;
    color: #18669e;
    letter-spacing: 0.08em;
}

.about__contentText {
    margin: 16px 0 64px;
    letter-spacing: 0.08em;

    @include s.mq("sp") {   
margin: 12px 0 30px;
    }
}

.about__btnWrap {
    width: 258px;

    @include s.mq("sp") {   
    margin-left: -7px;
    width: 274px;
    }
}

/*-------------------------------------------
「会社理念・会社概要」レイアウト
-------------------------------------------*/
.company__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include s.mq("sp") {   
    grid-template-columns: 1fr;
    }
}

.company__gridCard {
    color: rgb(255, 255, 255);
    padding: 52px 0px 51.5px 15%;
    transition: filter 0.3s;
    margin: 0px;

    @include s.mq("sp") {   
    padding: 32px 0px 36px 32px;
    }
}

.company__gridCard:first-of-type {
    background: url(../image/philosophy.png) center top / cover no-repeat transparent;
}

.company__gridCard:last-of-type {
    background: url(../image/company.png) center top / cover no-repeat transparent;
}

.company__gridCard:hover {
    filter: grayscale(60%);
}

.company__gridCard:hover .company__gridArrow img {
   transform: translateX(30px); 
}

.company__gridTitle {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.08em;

    @include s.mq("sp") {   
    font-size: 24px;
    }
}

.company__gridTitle--sub {
    font-family: Inter, sans-serif;
    font-size: 12px;
    line-height: 1.92;
    letter-spacing: 3px;

    @include s.mq("sp") {   
    letter-spacing: 0.08em;
    line-height: 1.6;
    }
}

.company__gridArrow {
    width: 24px;
    height: 24px;
    margin-top: 32px;

    @include s.mq("sp") {   
    width: 20px;
    height: 20px;
    margin-top: 9px;
    }
}

.company__gridArrow img {
    transition: 0.3s;
}


/*-------------------------------------------
「STAFF」レイアウト
-------------------------------------------*/

.staff__layout {
    position: relative;
    padding: 121px 0px 159px 17%;
    background: url(../image/staff-bg.png) center center / cover no-repeat transparent;

    @include s.mq("sp") {   
    padding: 80px 15px;
    background: url(../image/staff-bg-sp.png) center top / cover no-repeat transparent;
    }
}

.staff__layout::before {
    content: "";
    position: absolute;
    width: 216px;
    height: 432px;
    z-index: 1;
    top: 80px;
    left: 0;
    background: url(../image/staff-bubble.png) center center / cover no-repeat transparent;

    @include s.mq("sp") {   
    width: 82px;
    height: 142px;
    top: inherit;
    left: inherit;
    bottom: -19px;
    right: 0px;
    background: url(../image/staff-bubble-sp.png) center center / cover no-repeat transparent;
    }
}

.staff__inner {
    display: flex;
    justify-content: flex-end;
    gap: 4.6%;

    @include s.mq("sp") {   
    flex-direction: column-reverse;
    }
}

.staff__content {
    width: 40%;
    position: relative;

    @include s.mq("sp") {   
    width: 100%;
    margin-top: 110px;
    }
}

.staff__content::after {
    content: "";
    position: absolute;
    width: 347px;
    height: 155px;
    left: 0px;
    bottom: -90px;
    background: url(../image/staff-art.png) center center / cover no-repeat transparent;

    @include s.mq("sp") {   
    bottom: inherit;
    left: inherit;
    width: 186px;
    height: 83px;
    right: 0px;
    top: -72px;
    }
}

.staff__contentWrap {
    @include s.mq("sp") {   
    margin: 2px 6px;
    }
}

.staff__text {
    letter-spacing: 0.065em;
    margin: 38px 0px 35px;

    @include s.mq("sp") {   
    letter-spacing: 0.075em;
    margin: 27px 0px 25px;
    }
}

.staff__btnWrap {
    display: inline-block;
    width: 276px;

    @include s.mq("sp") {   
    width: 290px;
    }
}

.staff__image {
    width: 57%;
    margin-top: 38px;

    @include s.mq("sp") {   
    width: 100%;
    height: 260px;
    aspect-ratio: 1.5 / 1;
    margin: 0px auto;
    }
}

.staff__image img {
    width: 100%;
    border-radius: 10px;

    @include s.mq("sp") {   
    border-radius: 6px;
    }
}


/*-------------------------------------------
「RECRUIT」レイアウト
-------------------------------------------*/
.recruit__layout {
    position: relative;
    padding: 120px 0px;
    background: url(../image/recruit-bg.png) 10% center / cover no-repeat transparent;
    background-position: 10% center;

    @include s.mq("sp") {   
    padding: 81px 0px;
    background: url(../image/recruit-bg-sp.png) center top / cover no-repeat transparent;
    }

}

.recruit__layout::before {
    content: "";
    position: absolute;
    width: 239px;
    height: 388px;
    z-index: 1;
    bottom: -40px;
    right: 0px;
    background: url(../image/recruit-bubble.png) center center / cover no-repeat transparent;
    
    @include s.mq("sp") {   
    width: 76px;
    height: 127px;
    bottom: -7px;
    background: url(../image/recruit-bubble-sp.png) center center / cover no-repeat transparent;
    }
}

.recruit__inner {
    display: flex;
    justify-content: flex-start;
    gap: 4.6%;

    @include s.mq("sp") {   
    flex-direction: column;
    }
}

.recruit__image {
    max-width: 640px;
    
    @include s.mq("sp") {   
    width: 100%;
    margin: 0 auto;
}
}

.recruit__content {
    width: 33%;
    position: relative;

    @include s.mq("sp") {   
    width: 92%;
    margin: 112px auto 0;
    }
}

.recruit__content::after {
    content: "";
    position: absolute;
    width: 254px;
    height: 149px;
    background: transparent url(../image/recruit-art.png) no-repeat center / cover;
    left: 0;
    bottom: -67px;

    @include s.mq("sp") {   
    width: 141px;
    height: 82px;
    left: inherit;
    top: -78px;
    right: 0;
    }
}

.recruit__contentWrap {
    @include s.mq("sp") {   
    margin: 0 6px;
    }
}

.recruit__text {
    margin: 38px 0 35px;
    letter-spacing: 0.07em;

    @include s.mq("sp") {   
    margin: 24px 0;
    letter-spacing: 0.08em;
    }
}

.recruit__btnWrap {
    display: inline-block;
    width: 273px;

    @include s.mq("sp") {   
    width: 290px;
    }
}


/*-------------------------------------------
「お問い合わせ」レイアウト
-------------------------------------------*/

.contact__layout {
    background: transparent url(../image/contact-bg.png) no-repeat center / cover;
    width: 100vw;
    height: 356px;
    position: relative;
    margin-bottom: 182px;

    @include s.mq("sp") {   
    height: 272px;
    background: transparent url(../image/contact-bg-sp.png) no-repeat center / cover;
    margin-bottom: 208px;
    }
}

.contact__inner {
    width: 78%;
    max-width: 995px;
    display: flex;
    position: absolute;
    left: 50%;
    top: 90px;
    transform: translateX(-50%);
    border-radius: 10px;
    box-shadow: 4px 4px 10px 0px hsla(207, 12%, 14%, 0.18);
    overflow: hidden;

    @include s.mq("sp") {   
    flex-direction: column-reverse;
    width: 88%;
    top: 48px;
    border-radius: 4px;
    box-shadow: 2px 2px 3px 0px rgba(32, 37, 41, 0.18);
    }
}

.contact__inner.js-fadeIn {
    transform: translate(-50%, 0);

    @include s.mq("sp") {   
    transform: translate(-50%, 0);
    }
}

.contact__content {
    width: 47%;
    background-color: #fff;
    padding: 93px 42px;

    @include s.mq("sp") {   
    width: 100%;
    padding: 24px 15px;
    border-radius: 0 0 4px 4px;
    }
}

.contact__text {
    @include s.mq("sp") {   
    font-size: 15px;
    line-height: 1.65;
    }
}

.contact__btnWrap {
    margin: 48px 0 0;
    width: 273px;

    @include s.mq("sp") {   
    margin: 20px auto 0;
    width: 290px;
    }
}

.contact__image {
    width: 54%;

    @include s.mq("sp") {   
    width: 100%;
    height: 182px;
    }
}

.contact__image > img {
    @include s.mq("sp") {   
    height: 100%;
    }
}


/*-------------------------------------------
「トップアイコン」レイアウト
-------------------------------------------*/

.top__icon {
    position: fixed;
    right: 15px;
    bottom: 40px;
    opacity: 0;
    z-index: 100;
}

.top__iconLink {
    display: inline-block;
    width: 68px;
    height: 68px;
}
