/*-------------------------------------------
ヘッダー
-------------------------------------------*/
@use "setting" as s;
/*除算用にmathモジュールをインポート*/
@use "sass:math";

/* ここから記述します。 */
.header {
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
 
    @include s.mq("sp") {
        height: 72px;
        background-color: s.$colorWhite;
    }
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 100%;
    margin: 0 auto;

 @include s.mq("sp") {
        width: 85%;
    }
}

.header__logo {
    width: 130px;
    height: auto;

 @include s.mq("sp") {
        width: 68px;
    }
}

.header__nav {

    @include s.mq("sp") {
        display: none;
    }
}

.header__menu {
    display: flex;
    gap: 35px;
    transition: all 0.3s;
}

.header__menuLink {
color: s.$colorBlack;
font-weight: 700;
transition: opacity 0.3s;
}

.header__menuLink:hover {
    opacity: 0.6;
}

.header__toggleBtn {
display: none;    

    @include s.mq("sp") {  
    display: block;
    width: 42px;
    height: 24px;
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 20;
}
}

.header__hamburgerLine {
    display: block;
    position: absolute;
    width: 42px;
    height: 3px;
background-color: s.$colorBlue;
    border-radius: 3px;
    transition: all 0.5s;
}

.header__hamburgerLine:nth-child(1) {
    top: -3px;
}
.header__hamburgerLine:nth-child(2) {
    top: 9px;
}
.header__hamburgerLine:nth-child(3) {
    top: 21px;
}

.js-open {
    .header__hamburgerLine:nth-child(1) {
        transform: translateY(11px) rotate(-45deg);
    }

    .header__hamburgerLine:nth-child(2) {
        transform: translateY(-1px) rotate(45deg);
    }

    .header__hamburgerLine:nth-child(3) {
        display: none;
    }
}

.header__mask {
    background: transparent url(../image/overlay.png) no-repeat top/ center/ cover;
position: fixed;
width: 100%;
height: 100vh;
right: -120%;
top: 72px;
transition: all 0.5s;
}

.header__maskNav {
    margin-top: 80px;
    margin-left: 11%;
color: s.$colorBlue;
font-weight: 700;
}

.header__maskList {
    margin-top: 42px;
}
.header__maskList:first-of-type {
    margin-top: 0;
}
.header__maskList:last-of-type {
    margin-top: 48px;
}

.header__maskWrap {
display: flex;
align-items: center;
gap: 20px;
}

.header__maskLink--sns:first-of-type {
    width: 33px;
    height: 30px;
}
.header__maskLink--sns:last-of-type {
    width: 33.25px;
    height: 33.25px;
}

.js-open {
    .header__mask {
        right: 0;
        z-index: 10;
    }
}
