@charset "UTF-8";
/*-------------------------------------------
共通クラス
-------------------------------------------*/
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.08em;
  line-height: 1.5;
  color: #333a3f;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/*-------------------------------------------
共通のパーツ
-------------------------------------------*/
/* ここから記述します。 */
/*-------------------------------------------
ヘッダー
-------------------------------------------*/
/*除算用にmathモジュールをインポート*/
/* ここから記述します。 */
.header {
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}
@media screen and (max-width: 821px) {
  .header {
    height: 72px;
    background-color: #fff;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  height: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 821px) {
  .header__inner {
    width: 85%;
  }
}

.header__logo {
  width: 130px;
  height: auto;
}
@media screen and (max-width: 821px) {
  .header__logo {
    width: 68px;
  }
}

@media screen and (max-width: 821px) {
  .header__nav {
    display: none;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__menuLink {
  color: #333a3f;
  font-weight: 700;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.header__menuLink:hover {
  opacity: 0.6;
}

.header__toggleBtn {
  display: none;
}
@media screen and (max-width: 821px) {
  .header__toggleBtn {
    display: block;
    width: 42px;
    height: 24px;
    position: relative;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 20;
  }
}

.header__hamburgerLine {
  display: block;
  position: absolute;
  width: 42px;
  height: 3px;
  background-color: #18669e;
  border-radius: 3px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__hamburgerLine:nth-child(1) {
  top: -3px;
}

.header__hamburgerLine:nth-child(2) {
  top: 9px;
}

.header__hamburgerLine:nth-child(3) {
  top: 21px;
}

.js-open .header__hamburgerLine:nth-child(1) {
  -webkit-transform: translateY(11px) rotate(-45deg);
          transform: translateY(11px) rotate(-45deg);
}
.js-open .header__hamburgerLine:nth-child(2) {
  -webkit-transform: translateY(-1px) rotate(45deg);
          transform: translateY(-1px) rotate(45deg);
}
.js-open .header__hamburgerLine:nth-child(3) {
  display: none;
}

.header__mask {
  background: transparent url(../image/overlay.png) no-repeat top/center/cover;
  position: fixed;
  width: 100%;
  height: 100vh;
  right: -120%;
  top: 72px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__maskNav {
  margin-top: 80px;
  margin-left: 11%;
  color: #18669e;
  font-weight: 700;
}

.header__maskList {
  margin-top: 42px;
}

.header__maskList:first-of-type {
  margin-top: 0;
}

.header__maskList:last-of-type {
  margin-top: 48px;
}

.header__maskWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.header__maskLink--sns:first-of-type {
  width: 33px;
  height: 30px;
}

.header__maskLink--sns:last-of-type {
  width: 33.25px;
  height: 33.25px;
}

.js-open .header__mask {
  right: 0;
  z-index: 10;
}

/*除算用にmathモジュールをインポート*/
/* ここから記述します。 */
/*-------------------------------------------
スライドレイアウト
-------------------------------------------*/
.slide {
  position: relative;
  width: 100vw;
  height: 720px;
}

.slide::before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -46%;
  left: 0;
  background: transparent url(../image/bubble.png) no-repeat center/cover;
  width: 352px;
  height: 559px;
}
@media screen and (max-width: 821px) {
  .slide::before {
    width: 198px;
    height: 320px;
    bottom: -217px;
    background: transparent url(../image/bubble-sp.png) no-repeat center/cover;
  }
}

.slide__list {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}
@media screen and (max-width: 821px) {
  .slide__list {
    height: 100vh;
    top: 72px;
  }
}

.slide__item {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: slider 15s infinite;
          animation: slider 15s infinite;
}
@media screen and (max-width: 821px) {
  .slide__item {
    height: 100vh;
  }
}

.slide__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: right top;
     object-position: right top;
}

.slide__item:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.slide__item:nth-child(2) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.slide__item:nth-child(3) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

@-webkit-keyframes slider {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slider {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.slide__titleWrap {
  display: block;
  position: absolute;
  top: 348px;
  left: 7.8%;
}
@media screen and (max-width: 821px) {
  .slide__titleWrap {
    top: inherit;
    bottom: 86px;
    left: 21px;
  }
}

.slide__titleWrap p {
  display: inline-block;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.6;
  color: #18669e;
  letter-spacing: 0.08cm;
}
@media screen and (max-width: 821px) {
  .slide__titleWrap p {
    font-size: 32px;
    letter-spacing: 0.14em;
    line-height: 1.65;
  }
}

.slide__titleWrap p:first-of-type::after {
  content: "";
  position: absolute;
  right: -35px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 26px;
  height: 27px;
  background: transparent url(../image/title-image.png) no-repeat center/cover;
}

/*-------------------------------------------
「信頼の技術とサポート」レイアウト
-------------------------------------------*/
.support__inner {
  position: relative;
  margin: 110px auto 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 84%;
  max-width: 1080px;
  height: 670px;
}
@media screen and (max-width: 821px) {
  .support__inner {
    margin: 54px auto 116px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 92%;
    height: auto;
  }
}

.support__imageWrap {
  width: 46%;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 821px) {
  .support__imageWrap {
    width: 100%;
  }
}

.support__image {
  max-width: 500px;
  margin: 0 auto;
}
@media screen and (max-width: 821px) {
  .support__image {
    width: 100%;
    aspect-ratio: 1.5;
  }
}

.support__image img {
  border-radius: 10px;
}
@media screen and (max-width: 821px) {
  .support__image img {
    width: 100%;
    border-radius: 6px;
  }
}

.js-fadeIn.is-scrollIn {
  opacity: 1;
  -webkit-transform: translate(0);
          transform: translate(0);
}

.js-fadeIn {
  position: relative;
  opacity: 0;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
  -webkit-transition: opacity 2s, -webkit-transform 0.5s ease-in-out;
  transition: opacity 2s, -webkit-transform 0.5s ease-in-out;
  transition: opacity 2s, transform 0.5s ease-in-out;
  transition: opacity 2s, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.support__imageContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 821px) {
  .support__imageContainer {
    height: 301px;
  }
}

.support__imageLeft {
  width: 225px;
  height: auto;
  position: absolute;
  top: 97px;
  left: -74px;
}
@media screen and (max-width: 821px) {
  .support__imageLeft {
    width: 180px;
    top: 44px;
    left: 0;
  }
}

.support__imageRight {
  width: 330px;
  height: auto;
  position: absolute;
  top: 51px;
  right: 0;
}
@media screen and (max-width: 821px) {
  .support__imageRight {
    width: 200px;
    top: 13px;
    right: 0;
  }
}

.support__content {
  width: 43%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 821px) {
  .support__content {
    width: 100%;
    margin-top: -10px;
  }
}

.support__contentWrap {
  width: 98%;
}
@media screen and (max-width: 821px) {
  .support__contentWrap {
    margin-left: 8px;
  }
}

.support__title {
  font-size: 36px;
  font-weight: 700;
  color: #18669e;
  letter-spacing: 0.08em;
}
@media screen and (max-width: 821px) {
  .support__title {
    font-size: 30px;
  }
}

.support__text {
  margin-top: 25px;
  letter-spacing: 0.08em;
}
@media screen and (max-width: 821px) {
  .support__text {
    font-size: 15px;
    margin-top: 12px;
    margin-bottom: 23px;
    line-height: 1.6;
    letter-spacing: 0.075em;
  }
}

/*-------------------------------------------
「SERVICE」レイアウト
-------------------------------------------*/
.service__layout {
  background: #f6f8fa;
  position: relative;
  padding-top: 64px;
}
@media screen and (max-width: 821px) {
  .service__layout {
    padding: 80px 0 61px;
  }
}

.service__layout::before,
.service__layout::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 110px;
  left: 0;
}
@media screen and (max-width: 821px) {
  .service__layout::before,
  .service__layout::after {
    height: 36px;
  }
}

.service__layout::before {
  top: -110px;
  background: transparent url(../image/service-bg01.png) no-repeat top center/cover;
}
@media screen and (max-width: 821px) {
  .service__layout::before {
    top: -36px;
  }
}

.service__layout::after {
  bottom: -110px;
  left: 0;
  background: transparent url(../image/service-bg02.png) no-repeat bottom center/cover;
}
@media screen and (max-width: 821px) {
  .service__layout::after {
    bottom: -36px;
  }
}

.service__inner {
  width: 84%;
  max-width: 1080px;
  margin: 0 auto;
}
@media screen and (max-width: 821px) {
  .service__inner {
    width: 90%;
  }
}

.u-sectionTitle {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.08em;
  position: relative;
  color: #18669e;
}
@media screen and (max-width: 821px) {
  .u-sectionTitle {
    font-size: 32px;
  }
}

.u-sectionTitle--sub {
  letter-spacing: 0.1em;
  color: #f1c11a;
  margin-top: 6px;
}
@media screen and (max-width: 821px) {
  .u-sectionTitle--sub {
    font-size: 13px;
    margin-top: 0;
    letter-spacing: 0.067em;
  }
}

.u-sectionTitle::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 27px;
  background: transparent url(../image/title-image.png) no-repeat center/cover;
  left: -36px;
  top: 8px;
}
@media screen and (max-width: 821px) {
  .u-sectionTitle::before {
    width: 19px;
    height: 19px;
    left: 0;
    top: -21px;
  }
}

.service__grid {
  margin: 49px auto 0;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 354px));
  -webkit-column-gap: 75px;
     -moz-column-gap: 75px;
          column-gap: 75px;
}
@media screen and (max-width: 821px) {
  .service__grid {
    margin: 13px 0 0 0;
    grid-template-columns: 1fr;
  }
}

.service__gridCard {
  height: 614px;
  position: relative;
}
@media screen and (max-width: 821px) {
  .service__gridCard {
    height: auto;
    margin-bottom: 47px;
  }
}

.service__gridCard:nth-of-type(2) {
  margin-top: 48px;
}
@media screen and (max-width: 821px) {
  .service__gridCard:nth-of-type(2) {
    margin-top: 0;
  }
}

@media screen and (max-width: 821px) {
  .service__gridCard:last-of-type {
    margin-bottom: 0;
  }
}

.service__gridImage {
  max-width: 354px;
}
@media screen and (max-width: 821px) {
  .service__gridImage {
    margin: 0 auto;
  }
}

.service__gridImage img {
  -webkit-box-shadow: 4px 4px 10px rgba(39, 43, 48, 0.18);
          box-shadow: 4px 4px 10px rgba(39, 43, 48, 0.18);
  border-radius: 11px;
}

.service__gridTitle {
  font-size: 24px;
  letter-spacing: 0.08em;
  font-weight: 700;
  line-height: 36px;
  color: #18669e;
  text-align: center;
  margin-top: 21px;
}
@media screen and (max-width: 821px) {
  .service__gridTitle {
    margin-top: 21px;
  }
}

.service__gridText {
  margin: 8px 2px 20px 7px;
}
@media screen and (max-width: 821px) {
  .service__gridText {
    width: 91%;
    margin: 9px auto 20px;
  }
}

.service__gridBtn {
  width: 258px;
  position: absolute;
  bottom: 44px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (max-width: 821px) {
  .service__gridBtn {
    width: 274px;
    position: inherit;
    left: inherit;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    bottom: 0;
    margin: 20px auto 0;
  }
}

.u-btn {
  padding: 18px 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 36px;
  background-color: #5f82b3;
  color: #fff;
}
@media screen and (max-width: 821px) {
  .u-btn {
    padding: 20px 60px;
  }
}

.u-btn img {
  width: 38px;
  height: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (max-width: 821px) {
  .u-btn img {
    width: 43px;
    height: 5px;
  }
}

.u-btn:hover img {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

/*-------------------------------------------
「ABOUT」レイアウト
-------------------------------------------*/
.about__layout {
  position: relative;
  margin: 110px auto 120px;
  padding-top: 109px;
}
@media screen and (max-width: 821px) {
  .about__layout {
    margin: 36px auto 80px;
    padding-top: 80px;
  }
}

.about__layout::before {
  content: "";
  position: absolute;
  background: transparent url(../image/about-img.png) no-repeat center/cover;
  width: 237px;
  height: 185px;
  left: 4.14%;
  top: -105px;
}
@media screen and (max-width: 821px) {
  .about__layout::before {
    width: 135px;
    height: 105px;
    left: 12px;
    top: -64px;
  }
}

.about__layout::after {
  content: "";
  position: absolute;
  background: transparent url(../image/about-bubble.png) no-repeat center/cover;
  width: 252px;
  height: 475px;
  right: 0;
  top: -219px;
}
@media screen and (max-width: 821px) {
  .about__layout::after {
    width: 110px;
    height: 185px;
    top: -75px;
    background: transparent url(../image/about-bubble-sp.png) no-repeat center/cover;
  }
}

.about__inner {
  width: 84%;
  max-width: 1080px;
  margin: 0 auto;
}
@media screen and (max-width: 821px) {
  .about__inner {
    width: 92%;
  }
}

.about__titleWrap {
  margin-left: 600px;
  margin-bottom: 17px;
}
@media screen and (max-width: 821px) {
  .about__titleWrap {
    margin-left: 6px;
    margin-bottom: 24px;
  }
}

.about__titleLayout {
  width: 38%;
}

.about__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 821px) {
  .about__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about__img {
  width: 59%;
  height: 433px;
  position: relative;
  z-index: -1;
  top: 11px;
}
@media screen and (max-width: 821px) {
  .about__img {
    width: 100%;
    height: 254px;
    top: 0;
  }
}

.about__img img {
  aspect-ratio: 1.5;
  border-radius: 10px;
}
@media screen and (max-width: 821px) {
  .about__img img {
    border-radius: 6px;
    aspect-ratio: 1.5;
  }
}

.about__content {
  width: 38%;
  height: auto;
  margin-left: -40px;
  margin-top: 14px;
}
@media screen and (max-width: 821px) {
  .about__content {
    width: 98%;
    margin-left: 8px;
    margin-top: 21px;
  }
}

.about__contentTitle {
  font-size: 24px;
  font-weight: 700;
  color: #18669e;
  letter-spacing: 0.08em;
}

.about__contentText {
  margin: 16px 0 64px;
  letter-spacing: 0.08em;
}
@media screen and (max-width: 821px) {
  .about__contentText {
    margin: 12px 0 30px;
  }
}

.about__btnWrap {
  width: 258px;
}
@media screen and (max-width: 821px) {
  .about__btnWrap {
    margin-left: -7px;
    width: 274px;
  }
}

/*-------------------------------------------
「会社理念・会社概要」レイアウト
-------------------------------------------*/
.company__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 821px) {
  .company__grid {
    grid-template-columns: 1fr;
  }
}

.company__gridCard {
  color: rgb(255, 255, 255);
  padding: 52px 0px 51.5px 15%;
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
  margin: 0px;
}
@media screen and (max-width: 821px) {
  .company__gridCard {
    padding: 32px 0px 36px 32px;
  }
}

.company__gridCard:first-of-type {
  background: url(../image/philosophy.png) center top/cover no-repeat transparent;
}

.company__gridCard:last-of-type {
  background: url(../image/company.png) center top/cover no-repeat transparent;
}

.company__gridCard:hover {
  -webkit-filter: grayscale(60%);
          filter: grayscale(60%);
}

.company__gridCard:hover .company__gridArrow img {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

.company__gridTitle {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.08em;
}
@media screen and (max-width: 821px) {
  .company__gridTitle {
    font-size: 24px;
  }
}

.company__gridTitle--sub {
  font-family: Inter, sans-serif;
  font-size: 12px;
  line-height: 1.92;
  letter-spacing: 3px;
}
@media screen and (max-width: 821px) {
  .company__gridTitle--sub {
    letter-spacing: 0.08em;
    line-height: 1.6;
  }
}

.company__gridArrow {
  width: 24px;
  height: 24px;
  margin-top: 32px;
}
@media screen and (max-width: 821px) {
  .company__gridArrow {
    width: 20px;
    height: 20px;
    margin-top: 9px;
  }
}

.company__gridArrow img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/*-------------------------------------------
「STAFF」レイアウト
-------------------------------------------*/
.staff__layout {
  position: relative;
  padding: 121px 0px 159px 17%;
  background: url(../image/staff-bg.png) center center/cover no-repeat transparent;
}
@media screen and (max-width: 821px) {
  .staff__layout {
    padding: 80px 15px;
    background: url(../image/staff-bg-sp.png) center top/cover no-repeat transparent;
  }
}

.staff__layout::before {
  content: "";
  position: absolute;
  width: 216px;
  height: 432px;
  z-index: 1;
  top: 80px;
  left: 0;
  background: url(../image/staff-bubble.png) center center/cover no-repeat transparent;
}
@media screen and (max-width: 821px) {
  .staff__layout::before {
    width: 82px;
    height: 142px;
    top: inherit;
    left: inherit;
    bottom: -19px;
    right: 0px;
    background: url(../image/staff-bubble-sp.png) center center/cover no-repeat transparent;
  }
}

.staff__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 4.6%;
}
@media screen and (max-width: 821px) {
  .staff__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.staff__content {
  width: 40%;
  position: relative;
}
@media screen and (max-width: 821px) {
  .staff__content {
    width: 100%;
    margin-top: 110px;
  }
}

.staff__content::after {
  content: "";
  position: absolute;
  width: 347px;
  height: 155px;
  left: 0px;
  bottom: -90px;
  background: url(../image/staff-art.png) center center/cover no-repeat transparent;
}
@media screen and (max-width: 821px) {
  .staff__content::after {
    bottom: inherit;
    left: inherit;
    width: 186px;
    height: 83px;
    right: 0px;
    top: -72px;
  }
}

@media screen and (max-width: 821px) {
  .staff__contentWrap {
    margin: 2px 6px;
  }
}

.staff__text {
  letter-spacing: 0.065em;
  margin: 38px 0px 35px;
}
@media screen and (max-width: 821px) {
  .staff__text {
    letter-spacing: 0.075em;
    margin: 27px 0px 25px;
  }
}

.staff__btnWrap {
  display: inline-block;
  width: 276px;
}
@media screen and (max-width: 821px) {
  .staff__btnWrap {
    width: 290px;
  }
}

.staff__image {
  width: 57%;
  margin-top: 38px;
}
@media screen and (max-width: 821px) {
  .staff__image {
    width: 100%;
    height: 260px;
    aspect-ratio: 1.5/1;
    margin: 0px auto;
  }
}

.staff__image img {
  width: 100%;
  border-radius: 10px;
}
@media screen and (max-width: 821px) {
  .staff__image img {
    border-radius: 6px;
  }
}

/*-------------------------------------------
「RECRUIT」レイアウト
-------------------------------------------*/
.recruit__layout {
  position: relative;
  padding: 120px 0px;
  background: url(../image/recruit-bg.png) 10% center/cover no-repeat transparent;
  background-position: 10% center;
}
@media screen and (max-width: 821px) {
  .recruit__layout {
    padding: 81px 0px;
    background: url(../image/recruit-bg-sp.png) center top/cover no-repeat transparent;
  }
}

.recruit__layout::before {
  content: "";
  position: absolute;
  width: 239px;
  height: 388px;
  z-index: 1;
  bottom: -40px;
  right: 0px;
  background: url(../image/recruit-bubble.png) center center/cover no-repeat transparent;
}
@media screen and (max-width: 821px) {
  .recruit__layout::before {
    width: 76px;
    height: 127px;
    bottom: -7px;
    background: url(../image/recruit-bubble-sp.png) center center/cover no-repeat transparent;
  }
}

.recruit__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 4.6%;
}
@media screen and (max-width: 821px) {
  .recruit__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.recruit__image {
  max-width: 640px;
}
@media screen and (max-width: 821px) {
  .recruit__image {
    width: 100%;
    margin: 0 auto;
  }
}

.recruit__content {
  width: 33%;
  position: relative;
}
@media screen and (max-width: 821px) {
  .recruit__content {
    width: 92%;
    margin: 112px auto 0;
  }
}

.recruit__content::after {
  content: "";
  position: absolute;
  width: 254px;
  height: 149px;
  background: transparent url(../image/recruit-art.png) no-repeat center/cover;
  left: 0;
  bottom: -67px;
}
@media screen and (max-width: 821px) {
  .recruit__content::after {
    width: 141px;
    height: 82px;
    left: inherit;
    top: -78px;
    right: 0;
  }
}

@media screen and (max-width: 821px) {
  .recruit__contentWrap {
    margin: 0 6px;
  }
}

.recruit__text {
  margin: 38px 0 35px;
  letter-spacing: 0.07em;
}
@media screen and (max-width: 821px) {
  .recruit__text {
    margin: 24px 0;
    letter-spacing: 0.08em;
  }
}

.recruit__btnWrap {
  display: inline-block;
  width: 273px;
}
@media screen and (max-width: 821px) {
  .recruit__btnWrap {
    width: 290px;
  }
}

/*-------------------------------------------
「お問い合わせ」レイアウト
-------------------------------------------*/
.contact__layout {
  background: transparent url(../image/contact-bg.png) no-repeat center/cover;
  width: 100vw;
  height: 356px;
  position: relative;
  margin-bottom: 182px;
}
@media screen and (max-width: 821px) {
  .contact__layout {
    height: 272px;
    background: transparent url(../image/contact-bg-sp.png) no-repeat center/cover;
    margin-bottom: 208px;
  }
}

.contact__inner {
  width: 78%;
  max-width: 995px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  top: 90px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px 0px hsla(207, 12%, 14%, 0.18);
          box-shadow: 4px 4px 10px 0px hsla(207, 12%, 14%, 0.18);
  overflow: hidden;
}
@media screen and (max-width: 821px) {
  .contact__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 88%;
    top: 48px;
    border-radius: 4px;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(32, 37, 41, 0.18);
            box-shadow: 2px 2px 3px 0px rgba(32, 37, 41, 0.18);
  }
}

.contact__inner.js-fadeIn {
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
@media screen and (max-width: 821px) {
  .contact__inner.js-fadeIn {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.contact__content {
  width: 47%;
  background-color: #fff;
  padding: 93px 42px;
}
@media screen and (max-width: 821px) {
  .contact__content {
    width: 100%;
    padding: 24px 15px;
    border-radius: 0 0 4px 4px;
  }
}

@media screen and (max-width: 821px) {
  .contact__text {
    font-size: 15px;
    line-height: 1.65;
  }
}

.contact__btnWrap {
  margin: 48px 0 0;
  width: 273px;
}
@media screen and (max-width: 821px) {
  .contact__btnWrap {
    margin: 20px auto 0;
    width: 290px;
  }
}

.contact__image {
  width: 54%;
}
@media screen and (max-width: 821px) {
  .contact__image {
    width: 100%;
    height: 182px;
  }
}

@media screen and (max-width: 821px) {
  .contact__image > img {
    height: 100%;
  }
}

/*-------------------------------------------
「トップアイコン」レイアウト
-------------------------------------------*/
.top__icon {
  position: fixed;
  right: 15px;
  bottom: 40px;
  opacity: 0;
  z-index: 100;
}

.top__iconLink {
  display: inline-block;
  width: 68px;
  height: 68px;
}

/*-------------------------------------------
footer
-------------------------------------------*/
/*除算用にmathモジュールをインポート*/
/* ここから記述します。 */
.footer__layout {
  width: 100vw;
  background: transparent url(../image/footer-bg.png) no-repeat top center/cover;
  padding-bottom: 24px;
}
@media screen and (max-width: 821px) {
  .footer__layout {
    height: 100%;
    background: transparent url(../image/footer-bg-sp.png) no-repeat top center/cover;
  }
}

.footer__inner {
  width: 69%;
  max-width: 888px;
  margin: 0 auto;
  padding-top: 168px;
}
@media screen and (max-width: 821px) {
  .footer__inner {
    width: 90%;
    padding: 73px 0 24px;
  }
}

.footer__wrapUpper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 821px) {
  .footer__wrapUpper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__wrapUpper a {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.footer__logo {
  width: 93px;
  height: auto;
  border-radius: 10px;
}
@media screen and (max-width: 821px) {
  .footer__logo {
    width: 106px;
    height: 97px;
    border-radius: 6px;
  }
}

.footer__linkWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
}
@media screen and (max-width: 821px) {
  .footer__linkWrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 24px;
    gap: 8px;
  }
}

.footer__linkWrap a {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (max-width: 821px) {
  .footer__linkWrap a {
    font-size: 15px;
  }
}

.footer__wrapLower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 56px;
}
@media screen and (max-width: 821px) {
  .footer__wrapLower {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 8px;
  }
}

.footer__ruleWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}
@media screen and (max-width: 821px) {
  .footer__ruleWrap {
    gap: 11px;
  }
}

.footer__ruleWrap a {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (max-width: 821px) {
  .footer__ruleWrap a {
    font-size: 15px;
  }
}

.footer__copyright {
  font-size: 12px;
  letter-spacing: 0.07em;
}
@media screen and (max-width: 821px) {
  .footer__copyright {
    margin-top: 32px;
  }
}
